<div id="dates">
  <% if !@committees.nil? %>
    <% @committees.each do |committee| %> 
      <% @committee = committee %>
      <hr style="background-color: #777; height: 3px; border:none;">
      <%= link_to @committee.date, @committee, class: "btn btn-default" %>
      <%= link_to 'Промяна на комисия', edit_committee_path(@committee), data: {no_turbolink: true}, class: "btn btn-default" %> 
      <div id="parent">
        <div class="left">
            <%= render 'have_teachers' %>            
        </div>  
        <div class="right">
          <% if @committee.commissioners.length < 5 %>
              <%= render 'get_teachers' %>            
          <% else %>
            <%= render 'diploma_works' %>
          <% end %>  
        </div>
      </div>    
      <div>
        <%= render 'add_another_commissioner' %> 
      </div>     
    <% end %>   
  <% end %>
</div>  