<%= javascript_include_tag "colorbox" %>
<div id="diploma_works">
  <h3>Дипломни работи</h3>
  <table class = "table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @committee.diploma_works.each do |d| %>
      <tr id="<%= d.id %>">
        <td><%= link_to d.title, d, class: "btn btn-default" %></td>
        <td><%= button_to 'Премахни', committee_remove_diploma_work_path({committee_id: @committee.id, diploma_work_id: d.id}), remote: true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><a href="#inline_content"><button type="button" class="btn btn-default">Добавяне на дипломна работа</button></a></p>

  <div style='display:none'>
    <div id='inline_content' style='padding:10px; background:#fff;'>
    <p><h2>Добаване на дипломна работа</h2></p>
    <p><strong>Изберете:</strong></p>
    <%= form_tag(committee_add_diploma_work_path, remote: true) do %>
      <%= hidden_field_tag "committee", @committee.id %>
      <p><%= select_tag "diploma_work",  options_for_select(DiplomaWork.where(approved: true).where(committee_id: nil).where(year: Assemble.find(1).year_for_assembling).collect{ |d| [d.title, d.id] }), prompt: "Изберете" %></p>  
      <p><%= submit_tag "Добави" %></p>
    <% end %>  
    </div>
  </div>
</div>  

