<%= javascript_include_tag "colorbox" %>
<div id="diploma_works_<%= @committee.id%>">
  <h4 class="type">Дипломни работи</h4>
  <table class = "table">
    <thead>
      <tr>
        <th>Име</th>
        <th>Опции</th>
      </tr>
    </thead>
    <tbody>
    <% @committee.diploma_works.each do |d| %>
      <tr id="<%= d.id %>">
        <td><%= link_to d.title, d, class: "btn btn-default" %></td>
        <td><%= button_to 'Премахни', committee_remove_diploma_work_path({committee_id: @committee.id, diploma_work_id: d.id}), remote: true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><a class='inline' href="#inline_content_<%= @committee.id%>"><button type="button" class="btn btn-default">Добавяне на дипломна работа</button></a></p> 
  <div style='display:none'>
    <div id='inline_content_<%= @committee.id%>' style='padding:10px; background:#fff;'>
      <p><h2>Добаване на дипломна работа</h2></p>
      <div class = "table" style="max-height: 500px; overflow: scroll;">
        <table class = "table">
          <thead>
            <tr>
              <th>Име</th>
              <th>Ръководител</th>
              <th>Общи</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @diplomas = DiplomaWork.where(approved: true).where(committee_id: nil).where(year: Assemble.find(1).year_for_assembling) %>
            <% @diplomas = @diplomas.sort { |a, b| @committee.check_tags(b) <=> @committee.check_tags(a) }%>
            <% @diplomas.each do |d| %>
              <tr>
                <td><%= d.title %></td>
                <td><%= d.diploma_supervisor.name %></td>
                <td><%= @committee.check_tags(d) %></td>
                <td><%= button_to "Добави", committee_add_diploma_work_path({committee_id: @committee.id, diploma_work_id: d.id}), remote: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table> 
      </div>  
    </div>
  </div>
</div>  

