<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript">
  $(function() {
    $(".datepicker").datepicker({
      format:'dd/mm/yyyy',
      autoclose: true   
    });
  });
</script>

  <%= f.hidden_field :id %>
  <div>
    <h3>Членовe на комисията</h3>
    <% br_c=0 %>
    <% @committee.commissioners.each do |c| %>
      <% br_c+=1 %>
      <p><%= select("comm", "#{br_c}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'Няма (Избери)', :selected => c.id}) %></p>
    <% end %>
    <% (br_c..4).each do |br| %>
      <p><%= select("comm", "#{br+1}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'Няма (Избери)'}) %></p>
    <% end %>
  </div>
  <div>
    <h3>Прецедател на комисията</h3>
    <p><%= select("committee", "president", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'Няма (Избери)', :selected => @committee.president_id}) %></p>
  </div>

  <div class="actions">
    <%= f.submit "Запази членовете" %>
  </div>
<% end %>
<div>  
  <%= render 'diploma_works' %>
</div>  
