<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript">
  $(function() {
    $(".datepicker").datepicker({
      format:'dd/mm/yyyy',
      autoclose: true   
    });
  });
</script>

<script type="text/javascript" src= "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
$(function() {
        var scntDiv = $('#p_scents');
        var i = $('#p_scents p').size() + 1;
        var br = i;
        var div, field ;
        
        $('#addScnt').live('click', function() {
                $('<p><label for="p_scnts"><%=j select("diploma_work", "", DiplomaWork.where(:approved => true).collect {|p| [ p.title, p.id ]},{include_blank: 'Няма (Избери)'}) %></label> <a href="#" id="remScnt">Премахни</a></p>').appendTo(scntDiv);
                div = $("#p_scents");
                field = div.find("select[name^='diploma_work[]']");
                field.attr('name', 'diploma_work['+ i +']');
                field.attr('id', 'diploma_work_'+ i);
                i++;
                br++;
                $("#diploma_works_number").val(i-1);
                return false;
        });
        
        $('#remScnt').live('click', function() { 
                if( br > 2 ) {
                        $(this).parents('p').remove();      
                        --br;                         
                }
                return false;
        });
});
</script>



  <div class="mydate">
      Ден:<br/>
      <input id="committee_date" name="committee[date]" type="text" class="datepicker" data-format="dd-MM-yyyy" value="<%=  @committee.date %>"  readonly placeholder="Select .." />
  </div>


  <%= f.hidden_field :id %>
  <div>
    <h3>Членовe на комисията</h3>
    <% br_c=0 %>
    <% @commissioners = @committee.commissioners %>
    <% @commissioners.each do |c| %>
      <% br_c+=1 %>
      <p><%= select("commissioner", "#{br_c}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'Няма (Избери)', :selected => c.id}) %></p>
    <% end %>
    <% (br_c..4).each do |br| %>
      <p><%= select("commissioner", "#{br+1}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'Няма (Избери)'}) %></p>
    <% end %>
  </div>


  <div id="p_scents">
    <h3>Дипломни работи</h3>
    <a href="#" id="addScnt">Добавяне на дипломна работа</a>
    <% br=0 %>
    <% @diploma_works= @committee.diploma_works %>
    <% @diploma_works.each do |d| %>
      <% br+=1 %>
      <p><label for="p_scnts"><%= select("diploma_work", "#{br}", DiplomaWork.all.collect {|p| [ p.title, p.id ]},{include_blank: 'Няма (Избери)', :selected => d.id}) %></label>
      <a href="#" id="remScnt">Премахни</a></p> 
    <% end %>
    <%= hidden_field_tag :diploma_works_number, br %>
  </div>

  <div class="actions">
    <%= f.submit "Запази промените" %>
  </div>
<% end %>
