<tbody id="tbody_<%=@committee.id%>"> 
  <% @commissioners = Teacher.where("teachers.commissioner_dates LIKE '%#{@committee.date}%'").all %>
  <% @br_c = 0 %>
  <% @commissioners.each do |c| %>
    <% if !@committee.commissioners.exists?(c.id) %>
      <% @br_c+=1 %>
      <tr>
        <td>Да</td>
        <td><%= link_to c.name, c %></td>    
        <td>
          <%= button_to "Добави към комисия", committee_add_commissioner_path({commissioner_id: c.id, committee_id: @committee.id}), remote: true %> 
        </td>   
      </tr> 
    <% end %>
  <% end %>
  <tr>
    <td><hr></td>
    <td><hr></td>
    <td><hr></td>
  </tr>
  <% br=0 %>
  <% @committee.commissioners.each do |c| %> 
    <% br+=1 %>
    <tr>
      <td>
        <% if c.commissioner_dates %>
          <% if c.commissioner_dates.include?(@committee.date)%>
            Да
          <% else %>
            Не
          <% end %>
        <% else %>
            Не
        <% end %> 
      </td>
      <td><%= link_to c.name, c %></td>
      <td>
        <%= button_to "Премахни от комисия", committee_remove_commissioner_path({commissioner_id: c.id, committee_id: @committee.id}), remote: true %>       
      </td>   
    </tr>
  <% end %>

</tbody>
     