<h1>Разпределение на комисии</h1>

<script type="text/javascript">
  $(function() {
    $(".datepicker").datepicker({
      format:'dd/mm/yyyy',
      autoclose: true
    });
  });
</script>

<%= form_tag(set_dates_path, remote: true ) do %>
  <div class="mydate">
    Начална дата :<br/>
    <input  id="committee_start_date" name="committee[start_date]" value="<%= @assemble.committee_start_date %>"  readonly type="text" class="datepicker" data-format="dd-MM-yyyy"  placeholder="Изберете .." />
    <br/>
    Крайна дата:<br/>
    <input id="committee_end_date" name="committee[end_date]" value="<%= @assemble.committee_end_date %>"  readonly type="text" class="datepicker" data-format="dd-MM-yyyy"  placeholder="Изберете .." />
  </div>
  <div>
    <%= submit_tag "Запази"%>
  </div>  
<% end %>
<br />
<div>
  <%= render 'committees' %> 
</div>   
<%= link_to 'Нова комисяи за нов ден', new_committee_path %> 
<%= link_to 'Всички комисии', committees_all_path %>
