<p id="notice"><%= notice %></p>
<p>
  <strong>Ден:</strong>
  <%= @committee.date %>
</p>
<p>
  <strong>Членове на комисията:</strong>
  <%= @committee.commissioners.map(&:name)%>
</p>
<p>
  <strong>Прецедател на комисията:</strong>
  <% if @committee.president %>
  	<%= @committee.president.name%>
  <% end %>	
</p>

<%= link_to 'Промяна', edit_committee_path(@committee), data: {no_turbolink: true}, class: "btn btn-default" %>
<%= link_to 'Назад', committees_path, class: "btn btn-default" %>
