<div class="diploma_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Моля влезте в системата</legend>

      <div>
        <label for="user_name">Акаунт:</label>
        <%= text_field_tag :user_name, params[:user_name] %>
      </div>

      <div>
        <label for="password">Парола:</label>
        <%= password_field_tag :password, params[:password] %>
      </div>
  
      <div>
        <%= submit_tag "Вход" %>
      </div>
    </fieldset>
  <% end %>
</div>
