<h1>Забравена парола</h1>
<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<%= form_tag(change_lost_password_path) do %>
	<div>
		<%= label_tag :email, "Имейл адрес" %>
		<%= text_field_tag :email %>
	</div>
	<div>
		<%= submit_tag "Изпрати активационнен линк" %>
	</div>	
<% end %>