<%= form_for(@diploma_work) do |f| %>
  <% if @diploma_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diploma_work.errors.count, "error") %> prohibited this diploma_work from being saved:</h2>

      <ul>
      <% @diploma_work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description,"Описание" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
  <% if @current_user.admin? %>
    <%= f.label :diploma_supervisor_id,"Дипломен ръководител" %><br>
    <%= f.select(:diploma_supervisor_id, Teacher.where(:diploma_supervisor => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'Няма (Избери)'}) %>
  <% else %>
    <%= f.hidden_field :diploma_supervisor_id, readonly: true, value: @current_user.id %>
  <% end %>
  </div>
  <div>
		<%= hidden_field_tag :diplomants_number %>
	</div>
  <div class="field">
    <%= f.label :covenanted,"Уговорена" %><br>
    <%= f.check_box :covenanted %>
  </div>
  <% if @current_user.admin? %>
    <div class="field">
      <%= f.label :reviewer_id,"Рецензент" %><br>
      <%= f.select(:reviewer_id, Teacher.where(:reviewer => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'Няма (Избери)'}) %>
    </div>
    <div class="field">
     <%= f.label :committee_id,"Комисия" %><br>
     <%= f.select(:committee_id, Committee.all.collect {|p| [ p.date, p.id ]}, {include_blank: 'Няма (Избери)'}) %>
    </div>
    <div class="field">
      <%= f.label :approved,"Удобрена" %><br>
      <%= f.check_box :approved %>
    </div>
    <div class="field">
    <%= f.label :year, "Година"%>
    <%= f.text_field :year %>
  </div>
  <% end %> 
  <div class="field">
    <%= f.label :tags,"Тагове" %><br>
    <%= text_field_tag :tags, @diploma_work.tags.map(&:name).join(",") %>
  </div> 
  <div class="actions">
    <%= f.submit "Запази" %>
  </div>
<% end %>
<div>
  <%= render 'students'%>
</div>