<%= form_for(@diploma_work) do |f| %>
  <% if @diploma_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diploma_work.errors.count, "error") %> prohibited this diploma_work from being saved:</h2>

      <ul>
      <% @diploma_work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript" src= "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<%= javascript_include_tag "diploma_work" %>
<script>
$(function() {
        var scntDiv = $('#p_scents');
        var i = $('#p_scents p').size() + 1;
				var br = i;
				var div, field ;
        
        $('#addScnt').live('click', function() {
                $('<p><label for="p_scnts"><%=j select("diplomants", "p_dipl_", Student.all.collect {|p| [ p.name, p.id ]},{include_blank: 'None'}) %></label> <a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
								div = $("#p_scents");
								field = div.find("select[name^='diplomants[p_dipl_]']");
								field.attr('name', 'diplomants[p_dipl_'+ i +']');
                i++;
								br++;
								$("#diplomants_number").val(i-1);

                return false;
        });
        
        $('#remScnt').live('click', function() { 
                if( br > 2 ) {
                        $(this).parents('p').remove();      
												--br;               							
                }
                return false;
        });
});
</script>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :diploma_supervisor_id %><br>
    <%= f.select(:diploma_supervisor_id, Teacher.where(:diploma_supervisor => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'None(Chose)'}) %>
  </div>
  <div class="field">
    <%= f.label :reviewer_id %><br>
    <%= f.select(:reviewer_id, Teacher.where(:reviewer => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'None(Chose)'}) %>
  </div>

	<div id="p_scents">
		<%= label_tag :diplomants %>
		<a href="#" id="addScnt">Add Diplomant</a>
		<% br=0 %>
		<% @diplomanti= @diploma_work.students %>
		<% @diplomanti.each do |d| %>
			<% br+=1 %>
			<p><label for="p_scnts"><%= select("diplomants", "p_dipl_#{br}", Student.all.collect {|p| [ p.name, p.id ]},{include_blank: 'None', :selected => d.id}) %></label>
			<a href="#" id="remScnt">Remove</a></p>	
		<% end %>
		<%= hidden_field_tag :diplomants_number, br %>
	</div>

	<div class="field">
    <%= label_tag :commissioners %><br>
		<% @commissioners= @diploma_work.teachers %>
		<% br_c=0 %>
    <% @commissioners.each do |c| %>
			<% br_c+=1 %>
			<p><%= select("commissioner", "#{br_c}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'None', :selected => c.id}) %></p>
		<% end %>		
		<% (br_c..4).each do |br| %>
			<p><%= select("commissioner", "#{br+1}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'None'}) %></p>
		<% end %>
	</div>


  <div class="field">
    <%= f.label :covenanted %><br>
    <%= f.check_box :covenanted %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Add new student', diploma_works_path, remote: true %>
