<div id="form">
  <% if @diploma_work.id.nil? %>
    <%= form_tag(diploma_work_covenanted_path, remote: true, id: "set_covenanted") do %>
      <strong>УГОВОРЕНА</strong>
      <%= select_tag "covenanted",  options_for_select([["Да","true"],["Не","false"]], "false"), onchange: ("$('#set_covenanted').submit()") %>
    <% end %>
  <% end %>  
  <%= form_for(@diploma_work) do |f| %>
    <% if @diploma_work.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@diploma_work.errors.count, "error") %> prohibited this diploma_work from being saved:</h2>

        <ul>
        <% @diploma_work.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title%>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description,"Описание" %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
    <% if @current_user.admin? %>
      <%= f.label :diploma_supervisor_id,"Дипломен ръководител" %>
      <%= f.select(:diploma_supervisor_id, Teacher.where(:diploma_supervisor => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'Няма (Избери)'}) %>
    <% else %>
      <%= f.hidden_field :diploma_supervisor_id, readonly: true, value: @current_user.id %>
    <% end %>
    </div>
    <div class="field">
      <%= f.hidden_field :covenanted %>
    </div>
    <% if @current_user.admin? %>
      <div class="field">
        <%= f.label :reviewer_id,"Рецензент" %>
        <%= f.select(:reviewer_id, Teacher.where(:reviewer => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'Няма (Избери)'}) %>
      </div>
      <div class="field">
       <%= f.label :committee_id,"Комисия" %>
       <%= f.select(:committee_id, Committee.all.collect {|p| [ p.date, p.id ]}, {include_blank: 'Няма (Избери)'}) %>
      </div>
      <div class="field">
        <%= f.label :approved,"Удобрена" %>
  	  <div class="controls">
        <%= f.check_box :approved %>
  	  </div>
      </div>
      <div class="field">
      <%= f.label :year, "Година"%>
      <%= f.text_field :year %>
    </div>
    <% end %> 
    <div class="field">
      <%= f.label :tags,"Тагове" %>
      <%= text_field_tag :tags, @diploma_work.tags.map(&:name).join(",") %>
    </div>
    <div>
      <% if @covenanted != "true" and @diploma_work.id.nil? %>
        <%= f.label :diplomants_number, "Брой дипломанти"%>
        <%= f.text_field :diplomants_number %>
      <% else %>
        <%= f.label :diplomants_number, "Брой дипломанти"%>
        <%= f.text_field :diplomants_number, value: 0 ,readonly: true %>
        <%= hidden_field_tag :diplomants_values %>
      <% end %>
    </div>
    <% if @diploma_work.id.nil? and @covenanted == "true"  %>
      <% @br = 0 %>
      <div id="diplomants">     
      </div>  
    <% end %>

    <div class="actions">
      <%= f.submit "Запази", class: "btn btn-default" %>
    </div>

  <% end %>
  <div>  
    <% if !@diploma_work.id.nil? %>  
      <%= render 'students' %>  
    <% elsif @covenanted == "true"  %>
      <h3>Дипломанти</h3>
      <div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="diplomants_tbody">

          </tbody>
        </table>  
      </div>
      <div>
        <%= render 'students_new' %>
      </div>  
    <% end %>
  </div>
</div>
