<%= javascript_include_tag "colorbox" %>
<div id="students">
  <a class='inline' href="#inline_content"><button type="button" class="btn btn-default">Добавяне на дипломант</button></a>

  <% if @students.nil? %>
    <% @students = Student.where(diploma_work_id: nil).where(year: Assemble.find(1).year_for_registration) %>
  <% end %>
  <div style='display:none'>
    <div id='inline_content' style='padding:10px; background:#fff;'>
    <p><h2>Добаване на дипломант</h2></p>
    <p><strong>Изберете:</strong></p>
    <%= form_tag(diploma_work_add_student_field_path, remote: true) do %>
    	<%= hidden_field_tag "br", @br %>
      <p><%= select_tag "student_id",  options_for_select(@students.collect{ |s| [s.name, s.id] }), prompt: "Изберете" %></p>  
      <p><%= submit_tag "Добави" %></p>
    <% end %>  
    </div>
  </div>
</div>  