<p id="notice"><%= notice %></p>
<p>
  <strong>Заглавие:</strong>
  <%= @diploma_work.title %>
</p>
<p>
  <strong>Описание:</strong>
  <%= @diploma_work.description %>
</p>
<p>
  <strong>Дипломен ръководител:</strong>
  <% if t = Teacher.find_by_id(@diploma_work.diploma_supervisor_id) %>
		<%= t.name  %>
	<% end %>
</p>
<p>
  <strong>Рецензент:</strong>
  <% if t = Teacher.find_by_id(@diploma_work.reviewer_id) %>
		<%= t.name  %>
	<% end %>
</p>
<p>
  <strong>Дипломанти:</strong>
  <%= @diploma_work.students.map(&:name) %>
</p>
<p>
  <strong>Kомисия:</strong>
  <% if @diploma_work.committee %>
    <%= link_to @diploma_work.committee.date, committee_path(@diploma_work.committee) %>
  <% end %> 
</p>
<p>
  <strong>Членове на комисията:</strong>
  <% if @diploma_work.committee %>
   <%= @diploma_work.committee.commissioners.map(&:name) %>
  <% end %> 
</p>
<p>
  <strong>Тагове:</strong>
  <%= @diploma_work.tags.map(&:name) %>
</p>
<p>
  <strong>Година:</strong>
  <%= @diploma_work.year %>
</p>
<p>
  <strong>Уговорена:</strong>
  <%= @diploma_work.covenanted %>
</p>
<p>
  <strong>Удобрена:</strong>
  <%= @diploma_work.approved %>
</p>

<%= link_to 'Промени', edit_diploma_work_path(@diploma_work), data: {no_turbolink: true}, class: "btn btn-default" %> |
<%= link_to 'Назад', diploma_works_path, class: "btn btn-default" %>
