<p id="notice"><%= notice %></p>

<p>
  <strong>Акаунт:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Тип:</strong>
  <%= @user.heir_type %>
</p>
<p>
  <strong>Криптирана парола:</strong>
  <%= @user.hashed_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>
<% if @user.heir_type == "Teacher" %>
	<%= link_to 'Промяна', edit_teacher_path(@user) %> |
<% elsif @user.heir_type == "Student" %>
	<%= link_to 'Промяна', edit_student_path(@user) %> |
<% end %>
<%= link_to 'Назад', users_path %>
