<h1>Промяна на учител</h1>

<script type="text/javascript">
$(function() {
  $(".datepicker").datepicker({
    format:'dd/mm/yyyy',
    language: "bg",
    autoclose: false,
    multidate: true,
    multidateSeparator: ","
  });
});
</script>

<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @current_user.admin? %>
  	<div class="field">
      <%= f.label :user_name, "Акаунт" %>
      <%= f.text_field :user_name %>
    </div>
  	<div class="field">
      <%= f.label :name, "Име" %>
      <%= f.text_field :name %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :name, "Име: #{@teacher.name}" %>
    </div>  
  <% end %>
	<div class="field">
    <%= f.label :diploma_supervisor, "Дипломен ръководител" %>
    <%= f.check_box :diploma_supervisor %>
  </div>
	<div class="field">
    <%= f.label :reviewer, "Рецензент" %>
    <%= f.check_box :reviewer %>
  </div>	
	<div class="field">
    <%= f.label :commissioner, "Член на комисия" %>
    <%= f.check_box :commissioner %>
  </div>
  <% if @teacher.commissioner %>
    <div class="mydate">
      Дни в които мога да бъда член на комисия:<br/>
      <input id="teacher_commissioner_dates" name="teacher[commissioner_dates]" type="text" class="datepicker" data-format="dd-MM-yyyy" value="<%= @teacher.commissioner_dates %>"  readonly placeholder="Select .." />
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, "Нова Парола" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Потвърждение' %>
    <%= f.password_field :password_confirmation %>
  </div>
	<div class="field">
    <%= f.label :business, "Работа" %>
    <%= f.text_area :business %>
	</div>
  <div class="field">
    <%= f.label :tags,"Тагове" %>
    <%= text_field_tag :tags, @teacher.tags.map(&:name).join(",") %>
  </div> 
  <% if @current_user.admin? %>
		<div class="field">
      <%= f.label :access, "Ниво на достъп" %>
     <%= f.select(:access, ["user","admin"]) %>
	 </div>
   <div class="field">
      <%= f.label :active, "Активен" %>
      <%= f.select(:active, ["true","false"]) %>
   </div>
  <% else %>
    <div class="field">
      <%= f.label :current_password, "Сегашна парола" %>
      <%= f.password_field :current_password %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Запази промените", class: "btn btn-default" %>
  </div>
<% end %>

<%= link_to 'Покажи', @teacher, class: "btn btn-default" %>
<%= link_to 'Назад', teachers_path, class: "btn btn-default" %>
