<h1>Разглеждане на учители</h1>

<table class = "table">
  <thead>
    <tr>
			<th>Име</th>
			<th>Работа</th>	
			<% if @current_user.admin? %>		
				<th>Акаунт</th>
				<th>ID</th>
			<% end %>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
				<td><%= link_to teacher.name , teacher %></td>
				<td><%= teacher.business %></td>		
				<% if @current_user.admin? %>		
					<td><%= teacher.user_name %></td>
          <td><%= teacher.id %></td>
				  <td><%= link_to 'Промени', edit_teacher_path(teacher), class: "btn btn-default" %></td>
          <td><%= link_to 'Унищожи', teacher, method: :delete, data: { confirm: 'Сигурни ли сте?' }, class: "btn btn-default" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Нов учител', new_teacher_path, class: "btn btn-default" %>
