<p id="notice"><%= notice %></p>
<p>
  <strong>Име:</strong>
  <%= @teacher.name %>
</p>
<p>
  <strong>Тип:</strong>
  <%= @teacher.predecessor.heir_type %>
</p>
<p>
  <strong>Дипломен ръководител:</strong>
  <%= @teacher.diploma_supervisor %>
</p>
<p>
  <strong>Рецензент:</strong>
  <%= @teacher.reviewer %>
</p>
<p>
  <strong>Член на комисия:</strong>
  <%= @teacher.commissioner %>
</p>
<% if @teacher.commissioner %>
	<p>
  	<strong>Дни в които може да бъде член на комисия:</strong>
  	<%= @teacher.commissioner_dates %>
	</p>
<% end %>
<p>
  <strong>Работа:</strong>
  <%= @teacher.business %>
</p>
<% if @current_user.admin? %>
	<p>
		<strong>Акаунт:</strong>
		<%= @teacher.user_name %>
	</p>
	<p>
		<strong>Ниво на достъп:</strong>
		<%= @teacher.access%>
	</p>
	<p>
		<strong>Активен:</strong>
		<%= @teacher.active %>
	</p>
	<p>
		<strong>Активационен код:</strong>
		<%= @teacher.activation_code %>
	</p>	
	<p>
		<strong>Криптирана парола:</strong>
		<%= @teacher.hashed_password %>
	</p>
	<p>
		<strong>Salt:</strong>
		<%= @teacher.salt %>
	</p>
<% end %>
<%= link_to 'Промяна', edit_teacher_path(@teacher) %> |
<%= link_to 'Назад', teachers_path %>
