<%= form_for(@diploma_work) do |f| %>
  <% if @diploma_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diploma_work.errors.count, "error") %> prohibited this diploma_work from being saved:</h2>

      <ul>
      <% @diploma_work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, "Задание" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Описание" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :diploma_supervisor_id,"Дипломен ръководител" %><br>
    <%= f.select(:diploma_supervisor_id, Teacher.where(:diploma_supervisor => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'None(Chose)'}) %>
  </div>
  <div class="field">
    <%= f.label :reviewer_id %><br>
    <%= f.select(:reviewer_id, Teacher.where(:reviewer => true).collect {|p| [ p.name, p.id ]}, {include_blank: 'None(Chose)'}) %>
  </div>

	<div id="p_scents">
		<%= label_tag :diplomants %>
		<a href="#" id="addScnt">Добавяне на дипломант</a>
		<% br=0 %>
		<% @diplomanti= @diploma_work.students %>
		<% @diplomanti.each do |d| %>
			<% br+=1 %>
			<p><label for="p_scnts"><%= select("Дипломант", "p_dipl_#{br}", Student.all.collect {|p| [ p.name, p.id ]},{include_blank: 'None', :selected => d.id}) %></label>
			<a href="#" id="remScnt">Remove</a></p>	
		<% end %>
		<%= hidden_field_tag :diplomants_number, br %>
	</div>

	<div class="field">
    <%= label_tag :commissioners,"Комисия" %><br>
		<% @commissioners= @diploma_work.teachers %>
		<% br_c=0 %>
    <% @commissioners.each do |c| %>
			<% br_c+=1 %>
			<p><%= select("commissioner", "#{br_c}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'None', :selected => c.id}) %></p>
		<% end %>		
		<% (br_c..4).each do |br| %>
			<p><%= select("commissioner", "#{br+1}", Teacher.where(:commissioner => true).collect {|p| [ p.name, p.id ]},{include_blank: 'None'}) %></p>
		<% end %>
	</div>


  <div class="field">
    <%= f.label :covenanted, "Уговорена" %><br>
    <%= f.check_box :covenanted %>
  </div>
  <div class="field">
    <%= f.label :approved,"Удобрена" %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


