<h1>Разпределение</h1>
<br />
<%# if @current_user.admin? %>
    <h2>Класиране: <%= @assemble.round %></h2>
    <p><%= button_to "Следващо класиране", {action: "next_round"}, data: { confirm: 'Сигурни ли стe?' } %></p>
    <p><%= button_to "Ново класиране", {action: "new_round"}, data: { confirm: 'Сигурни ли стe?' } %></p>
    <p><%= button_to "Премахване на класиране", {action: "remove_round"}, data: { confirm: 'Сигурни ли стe?' } %></p>
<%# end %>

<% if @assemble.round != "none" %>
  <% if @current_user.predecessor.heir_type == "Teacher" %>
    <% @current_user.diploma_works.each do |diploma_work| %>
      <hr>
      <h2>Дипломна работа: <%= diploma_work.title %></h2>
      <table>  
        <thead>
          <tr>
      			<th>Име</th>
      			<th>Номер</th>
            <th>Клас</th>	
            <th>Успех</th>
            <th>Първо желание</th>
            <th>Второ желание</th>
      	    <th>Трето желание</th>
            <th>Опции</th>
          </tr>
        </thead>


        <tbody>
          <% @diplomants = @students.where("students.#{@assemble.round} = '#{diploma_work.id}' AND students.diploma_work_id IS NULL") %>
          <% @diplomants = @diplomants.sort_by {|s| s.grades}.reverse %>
          <% @diplomants.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.number %></td>
              
              <td><%= student.grade %></td>
            
              <td><%= student.grades %></td>
              <td><% if d = DiplomaWork.find_by_id(student.first) %>
                    <%= d.title  %>
                  <% end %>
              </td>
              <td><% if d = DiplomaWork.find_by_id(student.second) %>
                    <%= d.title  %>
                  <% end %>
              </td>
              <td><% if d = DiplomaWork.find_by_id(student.third) %>
                    <%= d.title  %>
                  <% end %>
              </td>
              <td><%= button_to 'Вземи ученик', get_student_path({id: student.id, diploma_work_id: diploma_work.id}), data: { confirm: 'Сигурни ли сте?' }, remote: true, id: "student_#{student.id}" %></td>
            </tr>
          <% end %>
          <%= link_to "Изчакай следващо класиране", assemble_path %>

          <% @diplomants = @students.where("students.diploma_work_id =  '#{diploma_work.id}'") %>
          <% @diplomants.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.number %></td>
              
              <td><%= student.grade %></td>
            
              <td><%= student.grades %></td>
              <td><% if d = DiplomaWork.find_by_id(student.first) %>
                    <%= d.title  %>
                  <% end %>
              </td>
              <td><% if d = DiplomaWork.find_by_id(student.second) %>
                    <%= d.title  %>
                  <% end %>
              </td>
              <td><% if d = DiplomaWork.find_by_id(student.third) %>
                    <%= d.title  %>
                  <% end %>
              </td>
              <td><% if student.first == diploma_work.id %>
                    <%= button_to 'Премахни ученик', remove_student_path({id: student.id, diploma_work_id: diploma_work.id}), data: { confirm: 'Сигурни ли сте?' }, remote: true, id: "student_#{student.id}" %>
                  <% else %>
                    Have it
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br />
    <% end %>
  <% end %>
<% end %>
<script>
var table = $('table');

$('#facility_header, #city_header')
    .wrapInner('<span title="sort this column"/>')
    .each(function(){

        var th = $(this),
            thIndex = th.index(),
            inverse = false;

        th.click(function(){

            table.find('td').filter(function(){

                return $(this).index() === thIndex;

            }).sortElements(function(a, b){

                if( $.text([a]) == $.text([b]) )
                    return 0;

                return $.text([a]) > $.text([b]) ?
                    inverse ? -1 : 1
                    : inverse ? 1 : -1;

            }, function(){

                // parentNode is the element we want to move
                return this.parentNode; 

            });

            inverse = !inverse;

        });

    });
	</script>
<br>