<table>
  <thead>
    <tr>
			<th>Name</th>
			<th>Number</th>
      <th>Grade</th>	
      <th>Grades</th>
      <th>First</th>
      <th>Second</th>
	  <th>Third</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
				<td><%= student.name %></td>
				<td><%= student.number %></td>
				
				<td><%= student.grade %></td>
			
				<td><%= student.grades %></td>
				<td><% if d = DiplomaWork.find_by_id(student.first) %>
							<%= d.title  %>
						<% end %>
				</td>
				<td><% if d = DiplomaWork.find_by_id(student.second) %>
							<%= d.title  %>
						<% end %>
				</td>
				<td><% if d = DiplomaWork.find_by_id(student.third) %>
							<%= d.title  %>
						<% end %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
var table = $('table');

$('#facility_header, #city_header')
    .wrapInner('<span title="sort this column"/>')
    .each(function(){

        var th = $(this),
            thIndex = th.index(),
            inverse = false;

        th.click(function(){

            table.find('td').filter(function(){

                return $(this).index() === thIndex;

            }).sortElements(function(a, b){

                if( $.text([a]) == $.text([b]) )
                    return 0;

                return $.text([a]) > $.text([b]) ?
                    inverse ? -1 : 1
                    : inverse ? 1 : -1;

            }, function(){

                // parentNode is the element we want to move
                return this.parentNode; 

            });

            inverse = !inverse;

        });

    });
	</script>
<br>