<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
    <%= f.label :file,"CSV file" %><br>
    <%= f.file_field :file %>
  </div>
		<div class="field">
    <%= f.label :name,"Име" %><br>
    <%= f.text_field :name %>
  </div>
	<div class="field">
    <%= f.label :user_name, "Акаунт" %><br>
    <%= f.text_field :user_name %>
  </div>
	<div class="field">
    <%= f.label :number,"Номер" %><br>
    <%= f.text_field :number %>
	<div class="field">
    <%= f.label :grade, "Клас" %><br>
    <%= f.select(:grade, ["","12a","12b","12v","12g"]) %>
	</div>
	<div class="field">
    <%= f.label :diploma_work_id, "Дипломна работа" %><br>
    <%= f.select(:diploma_work_id, DiplomaWork.all.collect {|p| [ p.title, p.id ]}, {include_blank: 'None(Chose)'}) %>
	</div>
	
	<div class="field">
    <%= f.label :access,"Ниво на достъп" %><br>
    <%= f.select(:access, ["user","admin"]) %>
	</div>
	
  <div class="actions">
    <%= f.submit "Създай ученик" %>
  </div>
  
<% end %>
