<h1>Промяна на ученик</h1>

<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @current_user.admin? %>
		<div class="field">
      <%= f.label :name,"Име" %><br>
      <%= f.text_field :name %>
    </div>
	  <div class="field">
      <%= f.label :user_name,"Акаунт" %><br>
      <%= f.text_field :user_name %>
    </div>
  <% else %> 
    <div class="field"> 
      <%= f.label :name, "Име: #{@student.name}" %><br>
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :grades, "Успех" %><br>
    <%= f.select(:grades, ["2","2.52","3","3.5","4","4.5","5","5.5","6"]) %>
  </div>
  <div class="field">
    <%= f.label :first,"Първо желание" %><br>
    <%= f.select(:first, DiplomaWork.all.collect {|p| [ p.title, p.id ]}, {include_blank: "Няма (Избери)"}) %>
  </div>
  <div class="field">
   <%= f.label :second, "Второ желание" %><br>
    <%= f.select(:second, DiplomaWork.all.collect {|p| [ p.title, p.id ]}, {include_blank: "Няма (Избери)"}) %>
  </div>
  <div class="field">
    <%= f.label :third, "Трето желание" %><br>
    <%= f.select(:third, DiplomaWork.all.collect {|p| [ p.title, p.id ]}, {include_blank: "Няма (Избери)"}) %>
  </div> 
  <div class="field">
    <%= f.label :password, "Нова Парола" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Потвърждение" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <% if @current_user.admin? %>
	<div class="field">
    <%= f.label :number, "Номер" %><br>
    <%= f.text_field :number %>
	<div class="field">
    <%= f.label :grade, "Клас" %><br>
    <%= f.select(:grade, ["","12a","12b","12v","12g"]) %>
	</div>
  <%= f.label :diploma_work_id, "Дипломна работа" %><br>
    <%= f.select(:diploma_work_id, DiplomaWork.all.collect {|p| [ p.title, p.id ]}, {include_blank: "Няма (Избери)"}) %>
	
	<div class="field">
    <%= f.label :access, "Ниво на достъп" %><br>
    <%= f.select(:access, ["user","admin"]) %>
	</div>
  <div class="field">
    <%= f.label :active, "Активен" %><br>
    <%= f.select(:active, [["Да","true"],["Не" ,"false"]]) %>
  </div>
  <% else %>
    <div class="field">
      <%= f.label :current_password, "Сегашна парола" %>
      <%= f.password_field :current_password %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Запази промените" %>
  </div>
<% end %>


<%= link_to 'Покажи', @student %> |
<%= link_to 'Назад', students_path %>
