<p id="notice"><%= notice %></p>
</script>
<p>
  <strong>Име:</strong>
  <%= @student.name %>
</p>
<p>
  <strong>Номер:</strong>
  <%= @student.number %>
</p>
<p>
  <strong>Клас:</strong>
  <%= @student.grade %>
</p>
<p>
  <strong>Дипломна работа:</strong>
  <% if s = @student.diploma_work %>
		<%= s.title %>
	<% end %>	
</p>
<p>
	
</p>
<p>
  <strong>Успех:</strong>
	<%= @student.grades %>
	
</p>
<% if @current_user.admin? %>
	<p>
		<strong>Акаунт:</strong>
		<%= @student.user_name %>
	</p>
	<p>
		<strong>Тип:</strong>
		<%= @student.predecessor.heir_type %>
	</p>
	<p>
		<strong>Ниво на достъп:</strong>
		<%= @student.access %>
	</p>
	<p>
		<strong>Активен:</strong>
		<%= @student.active %>
	</p>
	<p>
		<strong>Криптирана парола:</strong>
		<%= @student.hashed_password %>
	</p>
	<p>
		<strong>Salt:</strong>
		<%= @student.salt %>
	</p>
	
<% end %>

<%= link_to 'Промени', edit_student_path(@student) %> |
<%= link_to 'Назад', students_path %>
